[buildout]
extensions = mr.developer buildout.dumppickedversions
extends =
    sources.cfg
    tests.cfg
unzip = true
parts += instance omelette zopepy 
versions = versions

develop = 

auto-checkout =
    example.dexterity
    example.conference   

    plone.autoform
    plone.app.textfield
    plone.app.relationfield
    plone.dexterity
    plone.app.dexterity
    plone.formwidget.autocomplete
    plone.formwidget.contenttree
    plone.formwidget.namedfile
    plone.multilingual
    plone.multilingualbehavior
    plone.schemaeditor
    plone.supermodel

    plone.app.lockingbehavior
    plone.app.referenceablebehavior
    plone.app.stagingbehavior

always-checkout = force

[instance]
recipe = plone.recipe.zope2instance
blob-storage = ${buildout:directory}/var/blobstorage
user = admin:admin
http-address = 8080
webdav-address = 8081
debug-mode = on
verbose-security = on
eggs = 
    Plone
    plone.app.dexterity
#    plone.app.stagingbehavior
#    plone.app.lockingbehavior
    plone.app.versioningbehavior
    plone.app.referenceablebehavior
    z3c.blobfile
# playground
    example.dexterity
# tutorial
    example.conference
# development tools
    plone.reload
    Products.PDBDebugMode
    Products.TinyMCE
zcml =
environment-vars = zope_i18n_compile_mo_files true

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
packages = ./

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy
